{% extends "main.html" %}
{% load bbcode_tags %}
{% load comments %}
{% block title %}{{ object.title }}{% endblock %}
{% block main %}
    <h2>{{ object.title }}</h2>
    <p class="username">
        {% if object.user.get_full_name %}
            {{ object.user.get_full_name }}
        {% else %}
            {{ object.user.get_username }}
        {% endif %}
    </p>
    <div>{{ object.content|bbcode|safe }}</div>
    <p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
    {% with names=object.tags.names %}
        {% if names.count > 0 %}
            <p class="tags">{% for name in names %}{% if not forloop.first %},
            {% endif %}<a href="{% url 'blog_index' %}
            ?tag={{ name|urlencode }}">{{ name }}</a>{% endfor %}</p>
        {% endif %}
    {% endwith %}
    <p><a href="{% url 'blog_index' %}?page={{ pn }}{% if search %}&search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">Назад</a></p>
    <p>&nbsp;</p>
    {% render_comment_list for object %}
    <p>&nbsp;</p>
    {% get_comment_form for object as form %}
    <div class="form">
        <form action="{% comment_form_target %}" method="post">
            {% include "generic/form.html" %}
            <input type="hidden" name="next" value="{% url 'blog_detail' pk=object.pk %}?page={{ pn }}{% if search %}&search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">
            <div class="submit-button"><input type="submit" name="submit" value="Отправить"></div>
        </form>
    </div>
{% endblock %}