{% extends "main.html" %}
{% block title %}Оплата и вывоз{% endblock %}
{% block main %}
    <h2>Оплата и вывоз</h2>
    <h3>Способы оплаты</h3>
    <ul>
        <li>наличный расчет (в случае приобретения в розничных магазинах):</li>
        <li>безналичный расчет.</li>
    </ul>
    <h3>Способы вывоза:</h3>
    <ul>
        <li>самовывоз;</li>
        <li>вывоз транспортом фирмы (10% наценки).</li>
    </ul>
    <p>По все вопросам касательно оплаты и вывоза обращайтесь в отдел продаж и бухгалтерию (см. <a href="{% url 'contacts' %}">Страницу контактов</a>)</p>
{% endblock %}