{% extends  "main.html" %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}
{% block main %}
    <h2>Найди одежду, которая подойдет тебе!</h2>
    <p>Сервис &quot;WhatToWear&quot; поможет вам выбрать качественную и стильную одежду.</p>
    <h3>Топ обсуждаемых товаров</h3>
    <table class="list-table">
        {% for object in goods %}
            <tr>
                <td class="centered"><a href="{% url 'goods_detail' pk=object.pk %}"><img src="{% thumbnail object.image 'base' %}"></a></td>
                <td><a href="{% url 'goods_detail' pk=object.pk %}">
                    {{ object.name }}</a></td>
                <td>{{ object.description }}</td>
                <td class="centered">{% if object.price_acc > 0 %}
                    <span class="old-price">{{ object.price }}</span><br>
                    {{ object.price_acc }}{% else %}{{ object.price }}{% endif %}
                    руб.
                </td>
                <td class="centered">
                    {% if object.in_stock %}В наличии{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h3>Новости</h3>
        {% for object in news %}
            <h4>
                <a href="{% url 'news_detail' pk=object.pk %}">{{ object.title }}</a>
            </h4>
            <p>{{ object.description }}</p>
            <p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
        {% endfor %}
{% endblock %}