{% extends "main.html" %}
{% load static %}
{% block additional_js %}
    <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'imagepool.js' %}" type="text/javascript"></script>
{% endblock %}
{% block title %}Добавление новости{% endblock %}
{% block main %}
    <h2>Добавление новости</h2>
    <div class="form">
        <form action="" method="post">
            {% include "generic/form.html" %}
            <div class="submit-button">
                <input type="submit" value="Добавить">
            </div>
        </form>
    </div>
    {% include 'generic/file_lister.html' %}
    <p><a href="{% url 'news_index' %}">Назад</a></p>
{% endblock %}