<table id="imagepool_image_list" href="{% url 'imagepool_index' %}">
    <tr>
        <td class="link"><a id="imagepool_prev" href="#">&lt;</a></td>
        <td class="image">&nbsp;</td>
        <td class="image">&nbsp;</td>
        <td class="image">&nbsp;</td>
        <td class="link"><a id="imagepool_next" href="#">&gt;</a></td>
    </tr>
</table>
<div class="form">
    <form id="imagepool_form" action="{% url 'imagepool_upload' %}" method="post" enctype="multipart/form-data"
    target="imagepool_output">
        {% csrf_token %}
        <div class="form-field">
            <div class="label">Файл для выгрузки</div>
            <div class="control"><input type="file" id="file_to_upload" name="file_to_upload"></div>
        </div>
        <div class="submit-button"><input type="submit" value="Выгрузить"></div>
    </form>
    <iframe id="imagepool_output" name="imagepool_output"></iframe>
</div>